body {
    background-color: rgb(245, 223, 223);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
    padding-top: 100px;
}

.conteiner {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fa3838;
    z-index: 2;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    height: 80px;
}

.header__logo a {
    font-family: Tangerine;
    font-size: 60px;
    color: white;
    font-weight: bold;
    padding: 20px;
    position: relative;
    z-index: 3;
}

.header__burger {
    display: none;
}

.header__list {
    display: flex;
}

.header__list {
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.header__menu a:hover {
    color: rgb(245, 223, 223);
}

h1 {
    text-align: center;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 20px;
    color: red;
    padding: 10px;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 20px;
    color: red;
    padding: 5px;
}

.main__row {
    display: flex;
    border: 4px solid white;
}

.main__info {
    flex: 0 0 350px;
    border-right: 4px solid white;
}

.main__block {
    min-height: 200px;
}

.item_last, .item_next {
    padding: 10px;
    margin: 0 auto;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 5px;
    background-color: rgb(245, 196, 196);
}

.match, .location {
    padding: 5px;
    background-color: #f05d5d;
    color: white;
    min-width: 328px;
    text-align: center;
}

.score {
    font-size: 30px;
    color: white;
}

tr, td {
    padding: 10px;
}

.last, .next, .table {
    display: block;
    max-width: 128px;
    max-height: 128px;
    margin: 0 auto;
}

.main__body {
    flex: 1 1 auto;
    padding: 20px;
}

.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.footer__text {
    font-size: 12px;
    letter-spacing: 0.025em;
    color: #f05d5d;
    ;
}

.button {
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    border: 1px solid white;
    background-color: #f05d5d;
    color: rgb(245, 196, 196);
    text-align: center;
}

.button_block {
    width: 100%;
    text-align: center;
}

.main__news {
    max-width: 350px;
    margin: 0 auto;
}

.slider {
    border: 2px solid red;
    min-width: 20%;
    margin: 0 auto;
    overflow: hidden;
}

.slider-line {
    display: flex;
    transition: all ease 1s;
}

.main__news_result p {
    margin: 20px;
    font-size: 14px;
    color: #f05d5d;
}

.result__title {
    font-weight: bold;
}

@media (max-width:570px) {
    .item_last, .item_next {
        padding: 0px;
        margin: 0 auto;
    }
    .main__body {
        padding: 0px;
    }
    .main__news_result p {
        margin-bottom: 10px;
    }
    .main__row {
        border: 0px;
    }
    .main__info {
        border: 0px;
    }
    table {
        border: 0px;
    }
}

@media (max-width:767px) {
    .conteiner {
        max-width: none;
    }
    .match, .location {
        padding: 5px;
        min-width: 150px;
    }
    .main__row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main__news {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width:767px) {
    body.lock {
        overflow: hidden;
    }
    .header__row {
        height: 60px;
    }
    .header__logo {
        font-size: 40px;
    }
    .header__list {
        font-size: 24px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger::before, .header__burger::after {
        content: "";
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__burger span {
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 10px;
        transition: all 0.3s ease 0s;
    }
    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #f05d5d;
        padding: 70px 0px 0px 0px;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active {
        top: 0
    }
    .header__list {
        display: block;
    }
    .header__list li {
        margin: 0px 0px 20px 0px;
        ;
    }
}